config.py
drivers
__pycache__
py/__pycache__
beautifulsoup4-4.8.1.dist-info
bin
bs4
certifi
certifi-2019.9.11.dist-info
chardet
chardet-3.0.4.dist-info
deploy_package.zip
idna
idna-2.8.dist-info
requests
requests-2.22.0.dist-info
selenium
selenium-3.141.0.dist-info
soupsieve
soupsieve-1.9.5.dist-info
urllib3
urllib3-1.25.7.dist-info
