account:
  id: 
  password: 
scrapekot:
  slack: 
    webhook_url: 
    channels:
      -
    icon_emoji: 
    username: 
myrecorder: 
  slack:  
    webhook_url: 
    channels:
      -
    icon_emoji: 
    username: 
