__pycache__
.git
.github
.mypy_cache
.pytest_cache
docker
docs
scripts
statics
tests
tmp
.DS_Store
.flake8
.git-pr-release
.gitignore
.isort.cfg
.python-version
config.yaml
config.yaml.example
LICENSE
Makefile
mypy.ini
README.md
